* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  display: block;
}

body {
  background-color: #264653;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
}
